body {
  background-color: #FBFCFC;
  
}

nav{
  background-color: #12356E;
  border-bottom: 2px solid #C9082A;
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: #12356E;
  text-align: center;
  padding: 50px;
  margin-bottom: 1px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

h1{
  font-family: 'Bungee', cursive;
  color: white;
  size: 50px;
}

#videosB{
  background-color: black;
}




